@import "./styles/theme.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-background-alt);
  color: var(--color-text-primary);
}

#root {
  min-height: 100vh;
}
